# Node.js
node_modules/

# Build
/build/

# Logs
logs/
*.log

# Environment variables
.env

# IDE
.vscode/

# Dependency lock files
package-lock.json
yarn.lock

# Compiled files
*.min.js
*.min.css

# Testing
/coverage/

# Editor
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
